/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему*/

.page.theme_light {
  --text-color: #353430;
  --accent-color: #ff0070;
  --title-color: #ffc2e6;
  --shadow_and_bg-color: #ff8dcb;
  --subtitle-text-color: #353430;
  --content-title-color: #353430;
  --menu-color: #353430;
  --link-border: #353430;
  --background-image: url(../images/cover-image-light.png);

  background-image: var(--background-image);
}

.theme_light .decoration_element {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (max-width: 900px) {
  .theme_light .title {
    text-shadow: 4px 4px 0px var(--shadow_and_bg-color);
  }

  .theme_light .footer__card-title {
    text-shadow: 2px 2px 0px var(--shadow_and_bg-color);
  }
}

@media (prefers-color-scheme: light) {
  @media (max-width: 900px) {
    .title {
      text-shadow: 4px 4px 0px var(--shadow_and_bg-color);
    }

    .footer__card-title {
      text-shadow: 2px 2px 0px var(--shadow_and_bg-color);
    }
  }
  :root {
    --text-color: #353430;
    --accent-color: #ff0070;
    --title-color: #ffc2e6;
    --shadow_and_bg-color: #ff8dcb;
    --subtitle-text-color: #353430;
    --content-title-color: #353430;
    --menu-color: #353430;
    --link-border: #353430;
    --background-image: url(../images/cover-image-light.png);
  }

  .page {
    background-image: var(--background-image);
  }

  .decoration_element {
    display: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
}
