/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--page-padding);

}

.decorated-zone::before {
  content:'';
  position: absolute;
  top:var(--page-padding);
  right: var(--page-padding);  
  display: inline-block;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px; 
}

.decorated-zone::after {
  content:'';
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  display: block;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
}

.decoration_element {
  position: absolute;
  top: var(--page-padding);
  right: calc(28px + var(--page-padding)) ;
  color: var(--accent-color);
  line-height: 25px;

}

.decoration_element::after {
  content: '';
  position: absolute;
  top: 8px;
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px #FF0070);
  inline-size: 9px;
  block-size: 9px;

}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-content: center;
  min-height: 228px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--menu-color);
  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;

}

.title {
  justify-self: start;
  color: var(--title-color);
  font-weight: var(--accent-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color); 
  
}

.title_article {
  justify-self: center;
  align-self: center;
  color: var(--subtitle-text-color);
  font-weight: var(--accent-font-weight);
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  background-color: var(--shadow_and_bg-color);
}

.content-section {
  display: grid;
  gap: var(--gap-article);
  padding-inline-start: var(--page-padding);
  padding-inline-end: var(--page-padding);
}

.content-section:first-child {
  margin-block-start: calc(var(--gap-article) - var(--page-padding));
}

.content__title {
  color: var(--content-title-color);
  font-size: var(--font-size);
}

.content-list-items {
  gap: 10px;
  margin-block-start: 20px;
}

.content__subtitle {
  margin-block-end: 10px;
  color: var(--subtitle-text-color);
  font-size: var(--font-size);
}

.advice_list {
  color: var(--subtitle-text-color);
  font-weight: var(--main-font-weight);
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.content__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 1.6px 1.6px 0px var(--shadow_and_bg-color);
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: 1px solid var(--text-color);
}

.image__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-images);
  margin-block-end: var(--last-image-margin);
  padding-inline-start: var(--page-padding);
  padding-inline-end: var(--page-padding);
  
} 

.image__list-item {
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.footer__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--page-padding);
  min-block-size: 667px;
}

.footer__card-title {
  color: var(--title-color);
  font-weight: var(--accent-font-weight);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (min-width: 500px) {
  :root {
     --page-padding: 20px;
     --article-gap: 20px;
     --gap-article: 80px;
     --gap-images: 20px;
     --last-image-margin: 60px;
  }

  .header {
    padding-inline-start: 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_article {
    justify-self: end;
    margin-bottom: 0;
    inline-size: calc(50% - 10px);
  }

  .first__type-block {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: row;
    justify-content: end;
    gap: 20px;
    margin-block-end: 80px;
  }

  .why__title-block {
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .second__type-block {
    display: grid;
    gap: 20px;
    margin-block-end: 80px;
  }

  .advice_list:first-child {
    margin-block-start: 0;
  }

  .how__title-block {
    grid-row-start: 1;
    grid-row-end: span 5;
  }

  .content-section {
    gap: 0;
  }

  .content-section:first-child {
    margin-block-start: 60px;
  }

  .content-list-items {
    margin-block-start: 0;
  }

  .image__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-block-start: 10px;
  }

  .image__list-item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 2 / 1 ;
  }

  .image__list-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .image__list-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .image__list-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .image__list-item:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
  }

}

@media (min-width: 500px) and (max-width: 900px) {

  .header {
    min-block-size: 1024px;
  }


  .first__type-block {
    grid-template-columns: min(236px) 1fr;
  }

  .second__type-block {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  .what__title-block {
    justify-self: start;
    max-inline-size: 236px;
  }

  .footer__card {
    min-block-size: 1024px;
  }

  .footer__card-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width:900px) {
  .header {
    min-block-size: 768px ;
    align-items: start; 
  }

  .header__theme-menu {
    align-content: start;
    justify-self: center;
    margin-inline-start: var(--page-padding);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .first__type-block {
    grid-template-columns: min(315px) 1fr;
  }

  .second__type-block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    margin-block-end: 60px;
  }

  .what__title-block {
    display: block;
    grid-column: 1 / span 3;
    inline-size: 315px;
  }

  .footer__card {
    min-block-size: 768px;
  }
}