/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono', sans-serif;
  --main-font-weight: normal;
  --accent-font-weight: bold;
  --font-size: 18px;
  --line-height: 23.4px;
  --page-padding: 10px;
  --gap-article: 50px;
  --gap-images: 10px;
  --last-image-margin: 40px;
  --subtitle-text-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --menu-color: #FF0070;
  --shadow_and_bg-color: #FF0070;
  --content-title-color:#FF0070;

}
