/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono", sans-serif;
  --main-font-weight: normal;
  --accent-font-weight: bold;
  --font-size: 18px;
  --line-height: 23.4px;
  --page-padding: 10px;
  --gap-article: 50px;
  --gap-images: 10px;
  --last-image-margin: 40px;
  --subtitle-text-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --menu-color: #ff0070;
  --shadow_and_bg-color: #ff0070;
  --content-title-color: #ff0070;
  --link-border: #f1b2ce;
  --button-hover: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
}
